{% extends 'base.html.twig' %}

{% block title %}User Administration Panel{% endblock %}

{% block body %}
    <div class="car-info-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th class="column_name">ID</th>
                    <th class="column_name">Email</th>
                    <th class="column_name">First name</th>
                    <th class="column_name">Last name</th>
                    <th class="column_name">Role</th>
                    <th class="column_name table_edit_th">EDIT</th>
                    <th class="column_name table_delete_th">DELETE</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="table_row">
                        <td class="cell">{{ user.id }}</td>
                        <td class="cell">{{ user.email }}</td>
                        <td class="cell">{{ user.firstName }}</td>
                        <td class="cell">{{ user.lastName }}</td>
                        <td class="cell">{{ user.roles.0 }}</td>
                        <td class="cell table_edit_btn">
                            {# <a href="{{ path('app_edit_user', {id: user.id} ) }}" class="block">EDIT</a> #}
                            <a href="#" class="block">EDIT</a>
                        </td>
                        <td class="cell table_delete_btn">
                            {# <a href="{{ path('app_delete_user', {id: user.id}) }}" class="block">DELETE</a> #}
                            <a href="#" class="block">DELETE</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
