{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
<div>
    {% for car in cars %}
    
        <div class="car-info-wrapper">
            <h2 class="car-title text-2xl font-bold underline">
                {{ car.brand }}
                {{ car.model }}
                {{ (car.engine.engineDisplacement / 1000)|format_number({rounding_mode: 'floor', fraction_digit: 1}) }}
                {{ car.engine.fuelType|slice(0, 1) }}
                - {{ car.price }} {{ 'EUR'|currency_symbol }}
            </h2>

            <div>
                <img src="{{ car.image }}" alt="{{ car.brand }} {{ car.model }} {{ car.bodyType }} {{ car.engine.powerKW }} KW / {{ car.engine.powerHP }} HP" width="300" height="400">
            </div>

            <div>
                <p><strong>Model Information</strong></p>
                <p>Brand: {{ car.brand }}</p>
                <p>Model: {{ car.model }}</p>
                <p>Model: {{ car.bodyType }}</p>
            </div>
            <div>
                <p><strong>Engine</strong></p>
                <p>Engine Displacement: {{ car.engine.engineDisplacement }}</p>
                <p>Engine Power: {{ car.engine.powerKW }}KW / {{ car.engine.powerHP }}HP</p>
            </div>
            <div>
                <p><strong>General Information</strong></p>
                <p>Registered till: {{ car.registrationExpirationDate|date("m/Y") }}</p>
                <p>Description: {{ car.description }}</p>
                <p>URL: <a href="{{ car.url }}" target="_blank"><u>Click here to visit the add</u></a></p>
                {% if car.comment %}
                    <p>Comment: {{ car.comment }}</p>
                {% endif %}
                <p class="car-price">Price: {{ car.price }} {{ 'EUR'|currency_symbol }}</p>
            </div>

            <div>
                <p><strong>Seller Contact Information</strong></p>
                <p>Location: {{ car.seller.location }}</p>
                <p>Phone: {{ car.seller.phone }}</p>
                <p>Contacted: YES / NO</p>

                <div class="communications">
                    {% for item in car.seller.communications %}
                        <p class="comment-date">{{ item.date|date('Y-m-d h:i:s') }}</p>
                        <p class="comments">{{ item.comment }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    
{% endblock %}
