<!-- Main navigation container -->

<!-- Added Car Models button logic -->
{% if data is defined and data is not null %}
  {% set uniqueCars = [] %}

  {% for i, car in data %}
      {% set comparationArray = {
          'brand': car.brand, 
          'model': car.model,
          'engine': (car.engine.engineDisplacement / 1000)|format_number({rounding_mode: 'ceiling', fraction_digit: 1}),
          'engineDisplacement': car.engine.engineDisplacement, 
          'fuel':  car.engine.fuelType|slice(0, 1)
      } %}
      
      {% if comparationArray not in uniqueCars %}
        {% set uniqueCars = uniqueCars|merge([comparationArray]) %}
      {% endif %} 

  {% endfor %}

{% endif %}
<!-- end of Added Car Models button logic -->

<!-- Allowed routes -->
{% set allowedRoutes = [
  'app_cars_index', 
  'app_cars_by_model', 
  'app_cars_with_communication'
  ] %}
{% if app.current_route in allowedRoutes %}
  {% set isAllowedRoute = true %}
{% else %}
  {% set isAllowedRoute = false %}
{% endif %}

<nav
  class="relative flex w-full flex-nowrap items-center justify-between bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:flex-wrap lg:justify-start lg:py-4"
  data-twe-navbar-ref>
  <div class="flex flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
    <button
      class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
      type="button"
      data-twe-collapse-init
      data-twe-target="#navbarSupportedContent5"
      aria-controls="navbarSupportedContent5"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- Hamburger icon -->
      <span
        class="[&>svg]:w-7 [&>svg]:stroke-black/50 dark:[&>svg]:stroke-neutral-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <!-- Collapsible navbar container -->
    <div
      class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
      id="navbarSupportedContent5"
      data-twe-collapse-item>
      <!-- Left links -->
      <ul
        class="list-style-none me-auto flex flex-col ps-0 lg:mt-1 lg:flex-row"
        data-twe-navbar-nav-ref>
        <!-- Home link -->
        {{ include('/shared/_nav_button.html.twig', {'path': path('app_cars_index'), 'name': 'Home'}) }}
        <!-- Links showing on pages in isAllowedRoute list -->
        {% if isAllowedRoute %}
          <!-- Add new car ad Button-->
          {{ include('/shared/_nav_button.html.twig', {'path': path('app_new_car'), 'name': 'Add new car ad'}) }}
          <!-- Cars with Communications Button -->
          {{ include('/shared/_nav_button.html.twig', {'path': path('app_cars_with_communication'), 'name': 'Cars with Communications'}) }}
          <!-- Dropdown link -->
          <div id="added_models">
            {{ include(
              '/shared/_nav_dropdown.html.twig', 
              {'path': path('app_cars_with_communication'), arrayOfButtons: uniqueCars, title: 'Added Car Models', navDivId: 'added_models' }
            ) }}
          </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <!-- Logout Button -->
        {{ include('/shared/_nav_button.html.twig', {'path': path('app_logout'), 'name': 'Logout'}) }}
        {% else %}
        <!-- Login Button -->
        {{ include('/shared/_nav_button.html.twig', {'path': path('app_login'), 'name': 'Login'}) }}
        <!-- Registration Button -->
        {{ include('/shared/_nav_button.html.twig', {'path': path('app_register'), 'name': 'Register'}) }}
        {% endif %}

        <!-- Admin panel buttons -->
        {% if is_granted('ROLE_ADMIN') %}
          {% set admin_links = [ 
            {'title': 'Users', 'link': 'app_cars_index'}, 
            {'title': 'Cars', 'link': 'app_cars_index'}, 
            {'title': 'Car Sellers', 'link': 'app_cars_index'}, 
          ] %}

          <div id="admin_buttons">
            {{ include('/shared/_nav_dropdown.html.twig', {
              arrayOfButtons: admin_links, 
              title: 'ADMINISTRATION', 
              navDivId: 'admin_buttons'  
            }) }}
          </div>
        {% endif %}
      </ul>
    </div>
  </div>

  {% if app.user.email is defined %}
  <div class="user-info-wrapper">
    <p class="userinfo">Welcome: {{ app.user.email }}</p>
  </div>
  {% endif %}
</nav>

<script>
  let currentNavDivId = null;
  
  function showDropDownMenu(navDivId) {
    let dropDownContent = document.getElementById("dropDownContent_" + navDivId)
    dropDownContent.classList.toggle('hidden');
    currentNavDivId = navDivId;
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    console.log("window.onclick event funkcija");
    let dropDownButton = document.getElementById('dropDownButton_' + currentNavDivId)
    let dropDownContent = document.getElementById("dropDownContent_" + currentNavDivId)
    if (!event.target.matches('#dropDownButton_' + currentNavDivId)) {
      dropDownContent.classList.add('hidden');
    }
  }

  // Adding background color to Administration button
  if(document.getElementById('dropDownButton_admin_buttons')) {
    document.getElementById('dropDownButton_admin_buttons').classList.add('bg-sky-200');
    document.getElementById('dropDownButton_admin_buttons').classList.add('rounded');
  }
</script>